* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #373535;
}

header {
    background-color: #0d0d0d;
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 300%;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(22, 218, 52);
    font-size: 200%;
}

#corps {
    color:#fff;
    font-size: 2em;
    margin: 50px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}

#image {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#image img {
    border: solid 3px rgb(22, 218, 52);
    border-radius: 50%;
}

h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#para {
    border-left: solid 2px rgb(22,218,52);
    border-radius: 2%;
    padding-left: 10px;
}

#oupsy {
    scale: 5%;
    font-style: italic;
}

#oupsy:hover {
    scale: 50%;
}

footer {
    background-color: #0d0d0d;
    color: rgb(22, 218, 52);
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
}
  
@media only screen and (max-width: 1920px){
    .footer{
        position: relative;
        width: 100%;
        right: 0;
        bottom: 0;
    }
}
